
<!-- Start About Banner Section  -->
<section class="section page-title bg-fixed bg-cover" style="background-image: url({{content.field_background_image.0}});">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="service-banner">
          <h1>{{content.field_title.0}}</h1>
          {{ breadcrumbs }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Banner Section  -->