{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="main-menu-area fixed-top" id="main-menu">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-white site-navigation navbar-togglable">
          {{page.logo}}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-bars"></span>
          </button>
          {{page.primary_menu}}
      </nav>
  </div>
</div>
<!-- End NavBar -->

<section class="section page-title bg-fixed bg-cover" style="background-image: url({{banner_image}});">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="service-banner">
          <h1>{{page['#title']}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

{# Main #}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p class="not-p">You are not authorized to access this page. You must login to view this page.</p>
          <a href="{{front_page}}"> Go Home </a>
      </div>
    </div>          
  </div>    
</section>
{# Main #}

<!-- Start call to action  -->
<section id="call-to-action" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-9 col-md-10">
            <h3>{{book_now_title}} </h3>
          </div>
          <div class="col-xs-6 col-sm-3 col-md-2">
          <a href="{{book_now_link_url}}" class="btn">{{book_now_link_title}}</a>
          </div>
        </div>  
      </div>
</section>
<!-- End call to action  -->

<!-- Start Footer Section  -->
<footer class="footer">
  <div class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 m-15px-tb col-md-6">
          <div class="footer-content">
            {{page.footer_col_1}}
            <ul class="social-icons">
              <li><a href="{{facebook}}"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="{{twitter}}"><i class="fa fa-twitter"></i></a></li>
              <li><a href="{{instagram}}"><i class="fa fa-instagram"></i></a></li>
              <li><a href="{{codepen}}"><i class="fa fa-codepen"></i></a></li>
              <li><a href="{{github}}"><i class="fa fa-github-alt"></i></a></li>
              <li><a href="{{skype}}"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 m-15px-tb col-md-6">
          <div class="footer-content">
              {{page.footer_col_2}}
          </div>
        </div>
        <div class="col-lg-2 m-15px-tb col-md-6">
          <div class="footer-content">
              {{page.footer_col_3}}
            </div>
        </div>
        <div class="col-lg-4 m-15px-tb col-md-6">
          <div class="footer-newsletter">
            {{page.footer_col_4}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fot-copyright">
      <div class="col-md-6 mx-auto text-center wow fadeInDown" data-wow-delay="0.3s">
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %} 
      </div>  
  </div>
</footer>
<!-- End Footer Section  -->